@font-face {
  font-family: icons;
  src: url("icomoon/fonts/icomoon.ttf");
}

html,
body {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  padding: 0;
  margin: 0;
  background: #333;
  font-family: "Josefin Sans";
}

a {
  color: #fff;
}

/* header */

.header {
  background-color: #444;
  color: #fff;
  padding: 1em;
}

.heading {
  font-size: 1.5em;
}

.header-icons {
  margin-left: 1em;
}

.header-icons a {
  margin: 0.5em;
  text-decoration: none;
  opacity: .8;
}

.header-icons a:hover {
  opacity: 1;
}

.icons {
  font-family: icons;
  font-size: 1.5em;
}

/* main section */

.main {
  position: relative;
  width: 100%;
}

.frame {
  position: absolute;
  width: 100%;
  height: 90vh;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #333;
}

.frame:nth-of-type(1) {
  top: 0;
}

.frame:nth-of-type(2) {
  top: 100vh;
}

/* .frame:nth-of-type(3) {
  top: 200vh;
} */

.slot {
  width: 30%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25vh;
  min-height: 25vh;
  margin: 3vh 3vw;
  color: #eee;
  line-height: 1.7em;
  font-size: 1em;
}

.tile {
  position: relative;
  display: block;
  min-width: 25vh;
  min-height: 25vh;
  margin: 3vh 3vw;
  -webkit-box-shadow: 0 0 3vw #111;
  box-shadow: 0 0 3vw #111;
  overflow: hidden;
  line-height: 1.5em;
}

.tile:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tile span {
  position: absolute;
  width: 90%;
  top: 10%;
  left: 2px;
  z-index: 1;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.aside {
  margin-left: -100%;
}

.aside-sub {
  font-size: 0.9em;
}

.dimmer {
  position: absolute;
  min-width: inherit;
  min-height: inherit;
  background: rgba(51, 51, 51, 0.9);
}

/*tiles*/

.cube-navigation {
  background: url("img/cubeNavigation.png");
  background-size: 100%;
}

.accordion-menu {
  background: url("img/accordion.png");
  background-size: 100%;
}

.parallax-animation {
  background: url("img/parallax.png");
  background-size: 100%;
}

.bgscroll {
  background: url("img/bgcolor.png");
  background-size: 100%;
}

.british-names {
  background: url("img/britishName.png");
  background-size: 100%;
}

.esketch {
  background: url("img/sketch.png");
  background-size: 100%;
}

.quizzical {
  background: url("img/quizzical.png");
  background-size: 100%;
}

.trandom {
  background: url("img/tr-icon.png");
  background-size: 100%;
}

/* .*** {
  background: url('img/***.png');
  background-size: 100%;
} */

@media (max-width: 1250px) {
  .contact {
    font-size: 0.95em;
  }

  .info {
    margin-left: -1em;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }

  .main {
    width: 100vw;
  }
}

@media (max-width: 700px) {
  .grid-center {
    display: none;
  }
}
